html, body {
  height: 100%;
  background-image: url(/src/components/imgs/background.jpg);
  height: fit-content;
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header{
  max-height: 3vh;
}

footer{
  max-height: 3vh;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.card-box{
  background-image: radial-gradient(80% 100% at top left,transparent 92%, #607d8b 92.5%);
}

.main-box{
  display: flex;
  min-height: 72vh;
  margin: 0 0 60px 0;
  flex-direction: column;
  align-items: center;
}

#footer{
  position:relative;
  bottom: 0;
  width: 100%;
}