body, html{
  height: 100%;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#root{
  height: fit-content;
  background-image: url(/src/components/imgs/background.jpg);
  background-color: black;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}