@model FilmStock.Models.MovieListModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>@Model.movies.Count</p>
    @foreach(var movie in Model.movies)
    {
        <p>@movie.Title</p>
    }
</div>
